<div layout="row" flex style="height:100%">
    <md-card flex>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Response Times (ms)
                <div class="cg-md-menu" ng-cloak>
                    <div class="menu-demo-container">
                        <md-menu>
                            <md-button class="cg-title-button" aria-label="Open phone interactions menu" ng-click="$ctrl.openMenu($mdOpenMenu, $event)">
                                <ng-md-icon icon="filter_list" size="35" style="fill:white;"></ng-md-icon>
                            </md-button>
                            <md-menu-content width="4">
                                    <input ng-model="$ctrl.searchTerm"
                                       type="search"
                                       placeholder="Search URL"
                                       class="cg-searchbox md-text">

                                      <md-menu-item ng-repeat="n in $ctrl.dataNest | filter:$ctrl.searchTerm" >

                                      <md-switch value="{{n}}" ng-checked="$ctrl.d3DataNest.indexOf(n) > -1" ng-click="$ctrl.toggleSelection(n)"
                                      md-prevent-menu-close aria-label="Switch">
                                      {{n.key}}
                                    </md-switch>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                    </div>
                </div>
                </span>
            </md-card-title-text>
        </md-card-title>
        <!-- <md-card-content align="center"> -->
        <div id="response-times" style="height:100%"></div>
        <!-- </md-card-content> -->
    </md-card>
</div>
