
/* NAV */
/* TOP BAR */
.nav-bar-top {
  background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
}




/* Pie Chart */

/*path {
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}*/
#top-routes svg {
    position: relative;
}

path:hover {
  fill: orange;
}

.hidden {
  display: none;
}

.tooltip {
  color: black;
  position: absolute;
  width: 200px;
  height: auto;
  padding: 10px;
  background-color: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  pointer-events: none;
  display: none;
}


#tooltip p {
        margin: 0;
        font-family: sans-serif;
        font-size: 16px;
        line-height: 20px;
}


/* LEGEND */
.legend-container {
  height: 50px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.legend {
}







/**/
/* CARDS */
/**/
.cards-container {
  column-break-inside: avoid;
}
.cg-cards-container {
  text-align: center;
}
.cards-container .card {
  /*display: inline-block;*/
  /*overflow: visible;*/
}



@media only screen and (max-width: 469px) {
  .cards-container {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
}
@media only screen and (min-width: 470px) {
  .cards-container {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}
@media only screen and (min-width: 1142px) {
  .cards-container {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
}
.text-center {
  text-align: center;
}








svg {
    /*display: block;*/
    /*width: 100%;
    height: 100%;*/
}

/*svg .data-point {
    stroke: blue;
    stroke-width: 1.5px;
    fill: blue;
}*/

/*svg .data-point-text {
    font-family: sans-serif;
    font-size: 11px;
    fill: red;
}*/

svg .axis path,
svg .axis line {
    fill: none;
    stroke: black;
}

svg .axis text {
    font-family: sans-serif;
    font-size: 11px;
}






/* REQUEST COUNT */
#request-count path {
  fill: none;
  stroke: black;
}
#response-times path {
  fill: none;
  stroke-width:1;
}

.axis path, .axis line {
  shape-rendering: crispEdges;
}







/* COLOR TESTING */
md-content {
/*2C7AE8*/
background: linear-gradient(141deg, #2450FF 0%, #207DE8 51%, #2481FF 75%)
}

md-card {

  background: linear-gradient(141deg, #2CB5C6 0%, #1FC8E9 51%, #2CB5FF 75%);
  border-radius:5px;
}
md-card span{

  color: white;
}

md-sidenav {
  background: linear-gradient(141deg, #494E55 0%, #000000 100%)

    /*top:0;
    bottom:0;
    left:0;
    right:0;
    overflow:hidden;*/
}
md-sidenav a {
  color:white;
}

md-sidenav li, md-sidenav ul {
  margin: 0; padding: 0;
}

md-sidenav li {
  background-color: #24272A;

}
md-sidenav li:nth-child(odd) {
  background: #494E55;
}

#geomap path {
  /*stroke: rgba(255, 255, 255, 0.2);*/
}

span {
  color: white;
}

.md-button {
  text-align: left;
}
ui-view {
  /*background: linear-gradient(141deg, #2450FF 0%, #207DE8 51%, #2481FF 75%);*/
  background: linear-gradient(141deg,  #283593 10%, #207DE8 51%, #283593 90%);
  height:100%;
  overflow-y:scroll;
}





/* DROPDOWN */
.cg-md-menu {
  display:inline;
}
.menudemoBasicUsage .md-menu-demo {
  padding: 24px; }

.menu-demo-container {
  display: inline;
}

.menudemoBasicUsage .menu-demo-container {

  min-height: 200px; }

.cg-title-button {
  margin-bottom:0px;
}


.cg-searchbox {
   border: none;
   outline: none;
   padding: 0;
   box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1), 0 0 0 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.12);
   padding-left: 10.667px;
   min-height: 48px;
   cursor: pointer;
   position: relative;
   display: flex;
   align-items: center;
   width: auto;
}
